<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Forum_project/forum_temp.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <div class="box1">
            <ul class="navUL">
                <li class="navLI"><a class="navA" href="{% url 'Create-Forum' %}">New Forum</a></li>  
            </ul>  
        </div>
        <div class="box2">
            <h1>{{ forum.title }}</h1>
            <p class="forumContent">{{ forum.content }}</p>
            <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                   
                    <input type = "hidden" name="forum" value="{{ forum.id }}">
                    <br>
                    
                    <button type="submit" class="butt">Save</button>
            </form>
            <br>
            
                {% for comment in comments %}
                    <p class="comment">{{ comment.content }}</p>
                {% endfor %}
            
        </div>
    </div>
</body>
</html>